:root {
  --background-color: #d4f6cc;
  --first-color: #003865;
  --button-color: #3ccf4e;
}

header {
  margin-bottom: 65px;
}

body {
  background-color: var(--background-color);
  color: var(--first-color);
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
}

.navbar {
  background-color: var(--first-color);
}

.navbar-collapse {
  flex-grow: 0;
}

.list-group {
  margin-bottom: 25px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(255px, 3fr));
}

.list-group-item {
  background-color: var(--background-color);
  border: none;
  width: 90%;
  font-size: 18px;
  align-self: center;
}

.btn {
  border: none;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  background-color: var(--button-color);
  color: var(--first-color);
  margin: 10px;
  border-radius: 12px;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.5);
  border-right: 2.5px solid rgba(0, 0, 0, 0.5);
  transition-duration: 0.1s opacity, font-size;
  text-transform: capitalize;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  opacity: 85%;
  font-size: 22px;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-body {
  padding-top: 0;
}

.modal-content {
  text-align: center;
  background-color: var(--first-color);
  color: var(--background-color);
}

.modal-img {
  width: 165px;
  height: 165px;
}

.modal-close {
  float: right;
  -webkit-appearence: none;
  font-size: small;
  border: none;
  border-radius: 35%;
  background-color: #000;
  color: #fff;
}

.modal h1 {
  margin-top: 0;
  text-transform: uppercase;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal p {
  margin-bottom: 0;
}