:root {
  --background-color: #d4f6cc;
  --first-color: #003865;
}

body {
  background-color: var(--background-color);
  color: var(--first-color);
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
